---
agent_list:
{% for host in groups['dcos-slave'] %}
- {{hostvars[host]['ansible_eth0']['ipv4']['address']}}
{% endfor %}
# Use this bootstrap_url value unless you have moved the DC/OS installer assets.
bootstrap_url: file:///opt/dcos_install_tmp
cluster_name: example-dcos
exhibitor_storage_backend: static
master_discovery: static
master_list:
{% for host in groups['dcos-master'] %}
- {{hostvars[host]['ansible_eth0']['ipv4']['address']}}
{% endfor %}
resolvers:
- 8.8.8.8
- 8.8.4.4
ssh_port: 22
ssh_user: centos
